aiohttp==3.8.1
aiosignal==1.2.0
ansible==2.9.6
anyascii==0.3.1
apache-libcloud==2.8.0
appdirs==1.4.3
apturl==0.5.2
arango-orm==0.6.2
argcomplete==1.8.1
asttokens==2.0.5
async-timeout==4.0.2
attrs==19.3.0
Automat==20.2.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
bidict==0.21.2
blinker==1.4
Brlapi==0.7.0
cached-property==1.5.1
cachetools==4.2.2
capstone==4.0.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.3
command-not-found==0.3
constantly==15.1.0
contractions==0.1.72
copulas==0.7.0
cryptography==3.4.7
cssselect==1.1.0
ctgan==0.5.1
cupshelpers==1.0
cycler==0.10.0
datasets==2.2.2
DateTime==4.3
dbus-python==1.2.16
debugpy==1.6.0
decorator==4.4.2
deepecho==0.3.0.post1
defer==1.0.6
dill==0.3.4
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
dnspython==1.16.0
docker==4.1.0
docker-compose==1.25.0
dockerpty==0.4.1
docopt==0.6.2
duplicity==0.8.12.0
entrypoints==0.3
evdev==1.3.0
executing==0.8.3
Faker==9.9.1
fasteners==0.14.1
filelock==3.0.12
Flask==1.1.2
Flask-arango-orm==0.1.1
Flask-MQTT==1.1.1
Flask-SocketIO==5.0.1
frozenlist==1.3.0
fsspec==2022.5.0
future==0.18.2
gevent==21.8.0
graphviz==0.20
greenlet==1.1.1
h2==3.2.0
hpack==3.0.0
html5lib==1.0.1
httplib2==0.14.0
huggingface-hub==0.7.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.10
importlib-metadata==1.5.0
incremental==21.3.0
intervaltree==3.1.0
ipykernel==6.13.0
ipython==8.3.0
itemadapter==0.2.0
itemloaders==1.0.4
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==1.1.0
jsonschema==3.2.0
jupyter-client==7.3.1
jupyter-core==4.10.0
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
llvmlite==0.38.1
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.11.1
matplotlib==3.4.2
matplotlib-inline==0.1.3
meld==3.20.2
module==0.0.4
monotonic==1.5
more-itertools==4.2.0
multidict==6.0.2
multiprocess==0.70.12.2
neo4j==4.3.1
neo4j-driver==4.1.1
neobolt==1.7.17
neomodel==4.0.3
nest-asyncio==1.5.5
netaddr==0.7.19
netifaces==0.10.4
networkx==2.5.1
nltk==3.7
ntlm-auth==1.1.0
numba==0.55.2
numpy==1.20.3
oauthlib==3.1.0
olefile==0.46
packaging==21.3
paho-mqtt==1.5.1
pandas==1.4.2
paramiko==2.6.0
parsel==1.6.0
parso==0.8.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
priority==1.3.0
prompt-toolkit==3.0.29
Protego==0.1.16
protobuf==3.6.1
psutil==5.7.3
pure-eval==0.2.2
pwntools==4.3.1
pyahocorasick==1.4.4
pyArango==1.3.4
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycryptodomex==3.10.1
pycups==1.9.73
PyDispatcher==2.0.5
pyelftools==0.27
Pygments==2.7.2
PyGObject==3.36.0
PyJWT==1.7.1
pykerberos==1.1.14
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.5
PySocks==1.7.1
python-apt==2.0.0+ubuntu0.20.4.8
python-arango==4.4.0
python-dateutil==2.8.2
python-debian===0.1.36ubuntu1
python-engineio==4.1.0
python-magic==0.4.16
python-socketio==5.1.0
pyts==0.12.0
pytz==2021.1
pywinrm==0.3.0
pyxdg==0.26
PyYAML==5.4.1
pyzmq==22.3.0
queuelib==1.6.1
rdt==0.6.4
regex==2022.6.2
reportlab==3.5.34
requests==2.25.1
requests-kerberos==0.12.0
requests-ntlm==1.1.0
requests-unixsocket==0.2.0
responses==0.18.0
ROPGadget==6.4
scikit-learn==1.1.0
scipy==1.7.3
Scrapy==2.5.0
screen-resolution-extra==0.0.0
sdmetrics==0.5.0
sdv==0.15.0
seaborn==0.11.2
SecretStorage==2.3.1
selinux==3.0
service-identity==21.1.0
setproctitle==1.1.10
Shapely==1.7.1
simplejson==3.16.0
six==1.15.0
sklearn==0.0
sortedcontainers==2.3.0
soupsieve==1.9.5
stack-data==0.2.0
steam==1.2.0
systemd-python==234
text-unidecode==1.3
textsearch==0.0.21
texttable==1.6.2
threadpoolctl==3.1.0
torch==1.12.0
torchmetrics==0.9.1
torchtext==0.12.0
torchvision==0.13.0
tornado==6.1
tqdm==4.64.0
traitlets==5.2.1.post0
Twisted==21.2.0
typing_extensions==4.2.0
ubuntu-advantage-tools==27.10
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unicorn==1.0.2rc3
urllib3==1.26.4
usb-creator==0.3.7
uWSGI==2.0.19.1
vdf==3.4
virtualenv==20.0.17
w3lib==1.22.0
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==1.0.1
xkit==0.0.0
xmltodict==0.12.0
xxhash==3.0.0
yarl==1.7.2
zipp==1.0.0
zope.event==4.5.0
zope.interface==5.4.0
